.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  margin-top: 64px; /* Height of the toolbar */
  padding: 20px;
  flex: 1;
}
